.main-container {
    padding-bottom: 50px;
}

.rodape-container{
    position: fixed;
    bottom: 0;
}

.rodape{
    display: flex;
}

.rodape a{
    color: black;
    padding:0;
    text-align: center;
    text-decoration: none;
}

.selected{
    background-color: antiquewhite;
}