footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  text-align: center;
  width: 100%;
}

#features a {
  color: black;
  padding:0;
  text-decoration: none;
}

footer button:focus {
  outline: none;
}

.selected{
  background-color: antiquewhite;
}

#nav-top{
  margin-top: 15%;
}

@media (max-width: 600px) {
  header {
    margin-top: 110px; /* 15%  of height of iPhone 7 */
  }
}
