#list {
  max-height: calc(100vh - 60px - 90px - 60px); /* Viewport - topbar - filter - bottombar */
  overflow: auto;
}

.myCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.myCard img {
  margin: auto;
}

.mycard .vacancies li a{
  color: black;
}
