.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-container input{
    width: 90%;
}
.card-container{
    margin-top: 10%;
    margin-bottom: 10%;
}
.input-container{
    display: flex;
    padding-bottom: 10%;
}
.card img{
    width: 50%;
    margin:auto;
}

.card-container{
    visibility: hidden;
}

#nav-top{
    margin-top: 15%;
}

.main-container-repos{
    display: flex;
    flex-wrap: wrap;
}

.card-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card img{
    padding-bottom: 15%;
}